@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

@font-face {
  font-family: 'ConnectionII';
  src: local('ConnectionII'), url(./assets/Fonts/ConnectionII.otf) format('opentype');
}

:root {
  color: white;
  font-family: ConnectionII; 
}

html, body, #root{
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: #242424;
  padding: 0;
  margin: 0;
}