@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@font-face {
  font-family: 'ConnectionIi';
  src: local('ConnectionIi'), url(./assets/Fonts/ConnectionIi.otf) format('opentype');
}

:root {
  color: white;
  font-family: ConnectionIi;
  
}

html, body, #root{
  height: 100%
}

body {
  background-color: #242424;
  padding: 0;
  margin: 0;
}